body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  background-color: #F5F7FB;
}

/* StartQuiz component */
.title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #293264;
}
.title-card__header {
  margin: 0;
}
.title-card__description {
  font-weight: 400;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  margin-top: 1em;
}
.title-card__start-btn {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  padding: 1em 3.5em;
  font-weight: 500;
  color: #f5f7fb;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
  margin-top: 1em;
  cursor: pointer;
}
.title-card__blue-blob {
  position: absolute;
  width: 297px;
  height: 235px;
  bottom: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.title-card__yellow-blob {
  position: absolute;
  right: 0;
  top: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Quiz component */
.quiz {
  max-width: 550px;
  margin: 2.5em auto;
}
.quiz__blue-blob {
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.quiz__yellow-blob {
  position: absolute;
  top: 0;
  right: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.quiz__question-block {
  border-bottom: .8px solid #DBDEF0;
  padding: 1em 0 0;
}
.quiz__question {
  margin: 0 0 1em;
}
.quiz__answer-btn {
  margin-right: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: .25em 1em;
  background-color: transparent;
  border: .8px solid #4D5B9E;
  color: #293264;
  border-radius: 8px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.quiz__answer-btn-selected {
  margin-right: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: .25em 1em;
  color: #293264;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #D6DBF5;
  border: none;
}
.quiz__answer-btn-correct {
  margin-right: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: .25em 1em;
  color: #293264;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #94D7A2;
  border: none;
}
.quiz__answer-btn-incorrect {
  margin-right: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: .25em 1em;
  color: #293264;
  opacity: .5;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #F8BCBC;
  border: .8px solid #D6DBF5;
}
.quiz__answer-btn-unselected {
  margin-right: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: .25em 1em;
  color: #293264;
  opacity: .5;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: transparent;
  border: .8px solid #D6DBF5;
}
.quiz__results-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.quiz__submit-btn {
  margin-left: 2em;
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  padding: .75rem 1.5rem;
  font-weight: 600;
  color: #f5f7fb;
  background-color: #4D5B9E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}